<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>
          <a href="https://github.com/rails-engine/role_core" target="_blank" rel="nofollow">Role Core</a>
        </strong>
        crafted by <a href="https://github.com/jasl" target="_blank" rel="nofollow">Jun Jiang</a>.
        The source code and the dummy app are licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
      </p>
    </div>
  </div>
</footer>
