<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>
          <a href="https://github.com/jasl-lab/rbac_core" target="_blank" rel="nofollow">RBAC Core</a>
        </strong>
        crafted by <a href="https://github.com/jasl" target="_blank" rel="nofollow">Jun Jiang</a>.
        The source code is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        The website content is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
    </div>
  </div>
</footer>
